.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f9;
  position: fixed;
  top: 0;
  left: 0;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px; /* Define o tamanho da caixa branca */
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333;
}